.configure-content
{
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-color: #2B2B2B;
  color: #ccc;
  text-align: center;
}

.email-input-container
{
    margin-top: 30px;
}

#email-list 
{
    width: 300px;
    height: 30px;
    margin-top: 20px;
}

#submit-btn{
    width: 120px;
    height: 35px;
    border: 2px solid #000000;
    background-color: #777985;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s ease;
    font-weight: bold;
    font-size: large;
    margin-top: 10px;
}


#submit-btn:hover{
    background-color: #ccc;
    color: #000000;
    transition: color .4s ease;
}