#enter-instructions
{
    margin: 0px;
}

#email-input-div{
    margin-top: 10px;
}

#isntall-content{
    display: flex;
    /* TODO: Center content on install and config page?*/
}

#email-list 
{
    width: 300px;
    height: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    margin-top: 5px;
}
#submit-btn{
    margin-top: 5px;
}

.btn {
    width: 120px;
    height: 35px;
    border: 1px solid #000000;
    background-color: #777985;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s ease;
    font-weight: normal;
    font-size: 20px;
}

#uninstall-btn:hover, 
#submit-btn:hover, 
#install-btn:hover{
    background-color: #ccc;
    color: #000000;
    transition: color .4s ease;
}


#submit-status-container {
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    height: 10vh; /* Adjust based on your layout needs */
}